*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
span {
  display: inline-block;
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
  color: #333;
  overflow-x: hidden;
}

.wrapper {
  overflow: hidden;
}

// /* Default - 1920px */
// html {
//   font-size: 16px; /* 1rem = 16px */
// }

// /* 1921px – 2559px */
// @media (min-width: 1921px) and (max-width: 2559px) {
//   html {
//     font-size: 18px; /* 1rem = 18px */
//   }
// }

// /* 2560px – 3199px */
// @media (min-width: 2560px) and (max-width: 3199px) {
//   html {
//     font-size: 20px; /* 1rem = 20px */
//   }
// }

// /* 3200px – 3839px */
// @media (min-width: 3200px) and (max-width: 3839px) {
//   html {
//     font-size: 22px; /* 1rem = 22px */
//   }
// }

// /* 3840px – 4000px */
// @media (min-width: 3840px) {
//   html {
//     font-size: 24px; /* 1rem = 24px */
//   }
// }

@media (min-width: 2000px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 2100px) {
  html {
    font-size: 19px;
  }
}
@media (min-width: 2200px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 2300px) {
  html {
    font-size: 21px;
  }
}
@media (min-width: 2400px) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 2500px) {
  html {
    font-size: 23px;
  }
}
@media (min-width: 2600px) {
  html {
    font-size: 24px;
  }
}
@media (min-width: 2700px) {
  html {
    font-size: 25px;
  }
}
@media (min-width: 2800px) {
  html {
    font-size: 26px;
  }
}
@media (min-width: 2900px) {
  html {
    font-size: 27px;
  }
}
@media (min-width: 3000px) {
  html {
    font-size: 28px;
  }
  .hero::before {
    bottom: -11.0625rem !important;
  }
}
@media (min-width: 3100px) {
  html {
    font-size: 29px;
  }
}
@media (min-width: 3200px) {
  html {
    font-size: 30px;
  }
}
@media (min-width: 3300px) {
  html {
    font-size: 31px;
  }
}
@media (min-width: 3400px) {
  html {
    font-size: 32px;
  }
}
@media (min-width: 3500px) {
  html {
    font-size: 33px;
  }
}
@media (min-width: 3600px) {
  html {
    font-size: 34px;
  }
}
@media (min-width: 3700px) {
  html {
    font-size: 35px;
  }
}
@media (min-width: 3800px) {
  html {
    font-size: 36px;
  }
}
@media (min-width: 3900px) {
  html {
    font-size: 37px;
  }
}
@media (min-width: 4000px) {
  html {
    font-size: 38px;
  }
}

/* Kichik ekranlar (responsive qisqarish) */
@media (max-width: 1800px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 1600px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 1400px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 8px;
  }
}
