.footer {
  position: relative;
  background: url(../../images/footer-bg.jpg) no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &-smoke {
    position: absolute;
    top: -6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 176.4375rem;
    object-fit: fill;
    z-index: 10;
    height: 240px;
  }
  &-content {
    background: url(../../images/footer-banner.png) no-repeat;
    background-size: 100% 100%;
    max-width: 78.625rem;
    width: 100%;
    margin: 0 auto;
    height: 44rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 2.5rem;
    position: relative;
    &__top-img {
      position: absolute;
      top: -4.125rem;
      left: 50%;
      transform: translateX(-50%);
    }
    a {
      margin-top: 1.8125rem;
    }
  }
}
